:root {
	/* Colors */
	/* Primary */

	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: rgb(49, 211, 92);
	--bright-cyan: rgb(43, 183, 218);

	/* Neutral */

	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	--body-font: "Public Sans", sans-serif;
	--heading-font: "Public Sans", sans-serif;
	--h1-size: 55px;
	--h1-height: 60px;
	--h2-size: 50px;
	--h2-height: 60px;
	--h3-size: 20px;
	--h4-size: 16px;
	--h4-height: 20px;
	--h5-size: 28px;
	--h6-size: 22px;
	--subtitle-size: 14px;
	--subtitle-height: 18px;
	--p-size: 18px;
	--p-height: 26px;
	--secondary-text-size: 14px;
	--secondary-text-height: 18px;
	--button-size: 14px;

	/* SPACING */
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;
	--standard-width: 1440px;
	--section-width: 1144px;

	--standard-border-radius: 20px;

	--primary-gradient:
		background-image:
			linear-gradient(to right, #31d300, #00d375, #00ceb2, #00c4d4, #2bb7da) ;
}

/* General styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--p-size);
	font-weight: 100;
	line-height: var(--p-height);
	color: var(--Grayish-Blue);
	height: 100vh;
	padding: var(--spacing-xl);
	text-align: center;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--standard-width);
}


.article-image {
	width: 100%;
	height: 146px;
	/* object-fit: cover; */
}

.icon {
	width: 20%;
	height: auto;
	padding: 0 0 var(--spacing-lg) 0;
}

h1 {
	font-weight: 100;
	font-size: var(--h1-size);
	line-height: var(--h1-height);
	padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-md) 0;
}

h2 {
font-weight: 300;
}

h3 {
	padding: 0 0 var(--spacing-md) 0;
	font-size: var(--h3-size);
	font-weight: 300;
}

.hero, p {
	padding-bottom: var(--spacing-lg);
	font-size: var(--p-size);
	line-height: var(--p-height);
}

.footer-logo {
	width: 15%;
	height: auto;
}



.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--section-width);
	padding: var(--spacing-md) calc(var(--spacing-xl) * 2) var(--spacing-md) calc(var(--spacing-xl) * 2);
	background-color: var(--white);
}

.nav-logo {
	width: 15%;
	height: auto;
}

.menu {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: var(--secondary-text-size);
}

.hero {
	color: var(--dark-blue);
	background-color: var(--very-light-gray);
}

.hero .one-column {
	margin-top: var(--spacing-lg);
}

/* BUTTON STYLES */
.primary-button {
	font-family: var(--body-font);
	font-size: var(--button-size);
	letter-spacing: 1.25px;
	font-weight: 400;
	border-radius: var(--standard-border-radius);
	border: none;
	background-image:
			linear-gradient(to right, #31d300, #00d375, #00ceb2, #00c4d4, #2bb7da) ;
	color: var(--white);
	padding: var(--spacing-sm) var(--spacing-md);
	transition: all 0.15s ease;
}

/* Layout Styles  */
.section-container {
	width: 100%;
	max-width: var(--section-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: calc((--spacing-xl) * 1.5);
	/* border: 1px solid red; */
}

.footer-container {
	background-color: var(--dark-blue);
	color: white;
}

.one-column {
	width: 100%;
	text-align: left;
	margin: var(--spacing-xl) 0 var(--spacing-md) 0;
	padding: var(--spacing-md) calc(var(--spacing-xl) * 1.75) var(--spacing-md) calc(var(--spacing-xl) * 1.75);	
	/* border: 1px solid purple;  */
}

.two-column {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 0 0 calc(var(--spacing-xl) * 1.75);
	gap: 2%;	
	border: 1px solid orange;

}

.two-column > .col-left {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	text-align: left;
	padding-right: var(--spacing-sm);
	margin-top: var(--spacing-lg);
	/* border: 1px solid purple; */
}

.two-column > .col-right {
	width:55%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	position: relative;

}

.two-column > .col-right .background-image-box {
	height: 462px;
	width: 100%;
	overflow: hidden;
	/* border: 1px solid purple; */
}

.two-column > .col-right .background-image-box img {
	height: auto;
	width: 150%;
	object-position: top -165px right 0px;
}

.two-column > .col-right .image-mockups {
	height: 600px;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 0px;
	/* border: 1px solid purple; */
}

.two-column > .col-right .image-mockups img {
	height: auto;
	width: 100%;
	object-position: top -90px right -100px;
}



.card-container {
	width: 100%;
	display: flex;
	text-align: left;
	padding: var(--spacing-md) calc(var(--spacing-xl) * 1.75) var(--spacing-md) calc(var(--spacing-xl) * 1.75);
	gap: 2%;
}

.gray2 .card-top img {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.gray2 .card {
	background-color: var(--white);
}

.gray2 .card-bottom {
	padding: var(--spacing-md) var(--spacing-md) var(--spacing-lg) var(--spacing-md);
}

.gray2 .card-bottom span {
	font-size: var(--subtitle-size);
	line-height: var(--subtitle-height);
	padding-bottom: var(--spacing-md);
}

.gray2 .card-bottom h4 {
	font-size: var(--h4-size);
	font-weight: 300;
	line-height: var(--h4-height);
	padding: var(--spacing-md) 0 var(--spacing-md) 0;
}

.gray2 .card-bottom .secondary-text {
	font-size: var(--secondary-text-size);
	line-height: var(--secondary-text-height);
}

.gray1 {
	background-color: var(--light-grayish-blue);
}

.gray1 h2 {
	padding-bottom: var(--spacing-md);
}

.gray1 .card-container .card .secondary-text {
	font-size: var(--secondary-text-size);
	line-height: var(--secondary-text-height);
}

.gray2 {
	background-color: var(--very-light-gray);
}

.articles {
	background-color: var(--very-light-gray);
}

.articles .one-column {
	margin-bottom: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

