:root {
	/* Colors */
	/* Primary */

	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: rgb(49, 211, 92);
	--bright-cyan: rgb(43, 183, 218);

	/* Neutral */

	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	--body-font: "Public Sans", sans-serif;
	--heading-font: "Public Sans", sans-serif;
	--h1-size: 3.4375rem;
	--h1-height: 3.75rem;
	--h2-size: 3.25rem;
	--h2-height: 3.75rem;
	--h3-size: 1.25rem;
	--h4-size: 1rem;
	--h4-height: 1.25rem;
	--subtitle-size: .75rem;
	--subtitle-height: 1rem;
	--p-size: 1.125rem;
	--p-height: 1.625rem;
	--secondary-text-size: .75rem;
	--secondary-text-height: 1.125rem;
;
	--button-size: .75rem;

	/* SPACING */
	--spacing-sm: .5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 4rem;
	--standard-width: 90rem;
	--section-width: 71.5rem;

	--standard-border-radius: 1.25rem;

	--primary-gradient:
		background-image:
			linear-gradient(to right, #31d300, #00d375, #00ceb2, #00c4d4, #2bb7da) ;
}

/* General styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--p-size);
	font-weight: 100;
	line-height: var(--p-height);
	color: var(--Grayish-Blue);
	background-color: lightgray;
	padding: 0 var(--spacing-xl);
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	
}

#container{
	margin: 0 auto;
	width: 100%;
	height: 100vh;
}

.icon {
	width: 20%;
	height: auto;
	padding: 0 0 var(--spacing-lg) 0;
}

h1 {
	font-weight: 100;
	font-size: var(--h1-size);
	line-height: var(--h1-height);
	padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-lg) 0;
}

h2 {
	font-weight: 300;
}

h3 {
	padding: 0 0 var(--spacing-md) 0;
	font-size: var(--h3-size);
	font-weight: 300;
}

.hero, p {
	padding-bottom: var(--spacing-lg);
	font-size: var(--p-size);
	line-height: var(--p-height);
}

.footer-nav-logo {
	width: 65%;
	height: auto;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1 / span 4;
}

.navbar-container {
  	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: 1fr;
	width: 100%;
	max-width: var(--section-width);
	padding: var(--spacing-md) calc(var(--spacing-xl) * 2) var(--spacing-md) calc(var(--spacing-xl) * 2);
	background-color: var(--white);
}

.nav-logo {
	width: 15%;
	height: auto;
}

.menu {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: var(--secondary-text-size);
}

.hero {
	color: var(--dark-blue);
	background-color: var(--very-light-gray);
}

/* .hero .one-column {
	margin-top: var(--spacing-lg);
} */

/* BUTTON STYLES */
.primary-button {
	font-family: var(--body-font);
	font-size: var(--button-size);
	letter-spacing: 1px;
	font-weight: 400;
	border-radius: var(--standard-border-radius);
	border: none;
	background-image:
			linear-gradient(to right, #31d300, #00d375, #00ceb2, #00c4d4, #2bb7da) ;
	color: var(--white);
	padding: 14px 24px;
	transition: all 0.15s ease;
}

/* Layout Styles  */
.section-container {
	width: 100%;
	max-width: var(--section-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding-bottom: calc((--spacing-xl) * 1.5); */
	/* border: 1px solid red; */
}

.footer-container {
	background-color: var(--dark-blue);
	color: white;
	text-align: left;
	display: grid;
	gap:10px;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	max-width: var(--section-width);
	padding: var(--spacing-lg) calc(var(--spacing-xl) * 2) var(--spacing-lg) calc(var(--spacing-xl) * 2);
}

.one-column {
	width: 100%;
	text-align: left;
	margin: var(--spacing-xl) 0 var(--spacing-md) 0;
	padding: var(--spacing-md) calc(var(--spacing-xl) * 1.5) var(--spacing-md) calc(var(--spacing-xl) * 1.5);	
	/* border: 1px solid purple;  */
}

/* .two-column {
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 0 0 0 calc(var(--spacing-xl) * 1.75);
	gap: 2%;	
} */	
.two-column{
	width: 100%;
	display: grid;
	grid-template-columns: 45% 55%;
	padding: 0 0 0 calc(var(--spacing-xl) * 1.5);
	/* border: 1px solid orange; */
}

.two-column > .col-left {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	text-align: left;
	padding-right: var(--spacing-lg);
} 

.two-column > .col-right {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	position: relative;
	/* border: 1px solid purple; */
}

.two-column > .col-right .background-image-box {
	height: 500px;
	width: 100%;
	overflow: hidden;
	/* border: 1px solid purple; */
}

.two-column > .col-right .background-image-box img {
	height: auto;
	width: 155%;
	object-position: top -165px right 20px;
}

.two-column > .col-right .image-mockups {
	height: 600px;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 0px;
	/* border: 1px solid purple; */
}

.two-column > .col-right .image-mockups img {
	height: auto;
	width: 100%;
	object-position: top -90px right -90px;
}

.card-container {
	max-width: var(--section-width);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: var(--spacing-md) calc(var(--spacing-xl) * 1.5) var(--spacing-xl) calc(var(--spacing-xl) * 1.5);
	gap: 10px;
	text-align: left;
}

.article-image {
	max-width: 100%;
	height: auto;
}

.gray2 {
	background-color: var(--very-light-gray);
}

.gray2 .card-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.gray2 .card {
	background-color: var(--white);
}

.gray2 .card-bottom {
	padding: var(--spacing-md) var(--spacing-sm) 0 var(--spacing-md);
	margin-right: var(--spacing-md);
}

.gray2 .card-bottom span {
	font-size: var(--subtitle-size);
	line-height: var(--subtitle-height);
}

.gray2 .card-bottom h4 {
	font-size: var(--h4-size);
	font-weight: 300;
	line-height: var(--h4-height);
	padding: var(--spacing-sm) 0 var(--spacing-sm) 0;
}

.gray2 .card-bottom .secondary-text {
	font-size: var(--secondary-text-size);
	line-height: var(--secondary-text-height);
}

.gray1 {
	background-color: var(--light-grayish-blue);
}

.gray1 .card {
	padding-right: var(--spacing-lg);
}

.gray1 h2 {
	padding-bottom: var(--spacing-lg);
}

.gray1 .card-container .card .secondary-text {
	font-size: var(--secondary-text-size);
	line-height: var(--secondary-text-height);
}

.gray1 > .one-column p {
	width: 66%;
}

.gray2 {
	background-color: var(--very-light-gray);
}

.articles .one-column {
	margin-bottom: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

/* FOOTER SECTION */
.footer-container p {
	font-size: 12px;
	line-height: var(--secondary-text-height);
}

 .footer-container .social-logos {
	width: 65%;
	height: auto;
	display:flex;
	justify-content: space-between;
	padding: var(--spacing-lg) 0 0 0;
}

.list-items ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	flex-direction: column;
	/* border: 1px solid green; */
}

.list-items li{
	list-style: none;
	font-size: 12px;
	line-height: var(--p-height);
}

.footer-button .primary-button {
	margin-bottom: var(--spacing-md);
} 

.footer-button {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* MEDIA QUERIES */
/* @media (min-width: 375px){
* {
	text-align: center;
	padding: 0;
	margin: 0;
}

.section-container {
	padding: 0;
}

.card-container {
	grid-template-columns: 1fr;
	padding: 0 var(--spacing-md) 0 var(--spacing-md);
	text-align: left;
}

.card-container .card {
	padding: 0;
}

h1 {
	font-size: 1.5rem;
	padding: 0;
	margin:0;	
}

.one-column, h2 {
	padding: var(--spacing-md) 0 0 0;
	line-height: 3.15rem;
}

.gray1 .one-column #single-paragraph {
	text-align: center;
	width: 100%;
	border: 1 px solid red;
} 


.two-column {
	grid-template-columns: 1fr;
}


} */